:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
body,
header,
main,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    gap: .5rem;
}

.navbar-links ul li {
    display: inline;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 1rem;
    color: antiquewhite;
    text-shadow: 2px 2px black;
}


main,
footer {
    background-color: antiquewhite;
    padding: 1rem;
}
header,
main,
footer {
    width: 60%;
    padding: 1rem;
    border-radius: .5rem;
}

img {
    border-radius: .5rem;
    width: 100%;
    height: auto;
}

.hero-image {
    height: 120px;
    background-image: url('./beans.png');
    background-position: 50% 50%;
}

/* validated above, OK! */